Checks: 'google-*, -cppcoreguidelines-*,modernize-*,bugprone-*,llvm-*,safety-*,clang-analyzer-* readability-*'
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: camelBack
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: 'file'
